{% extends "base_generic.html" %}
 {% block title %}<title>Book list</title>{% endblock %}
{% block content %}
    <h1>Book List</h1>

    {% if book_list %}
    <ul>

      {% for book in book_list %}
      <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
          {% if user.is_authenticated and user.is_staff %}
        - <a href="{% url 'book_delete' book.id  %}">Delete book</a>,
          <a href="{% url 'book_update' book.id  %}">Edit book</a>
          {% endif %}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no books in the library.</p>
    {% endif %}
          {% if user.is_authenticated and user.is_staff %}
            <a href="{% url 'book_create' %}">Book create</a> <br>
          {% endif %}
{% endblock %}
