{% extends "base_generic.html" %}
 {% block title %}<title>Author detail</title>{% endblock %}
{% block content %}

  <p><strong>Author:</strong> <a href="">{{ book.author }}</a></p>
  <p><strong>Title:</strong> <a href="">{{ book.title }}</a></p>
  <p><strong>ISBN:</strong> <a href="">{{ book.isbn }}</a></p>
   <p><strong>Genre:</strong> <a href="">{{ book.genre }}</a></p>


  <strong>Books:</strong>

      {% for book in author.book_set.all %}
      <p>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a>
      </p>
      <p>{{ book.summary }}</p>
    {% empty %}
      <p>This author has no books in the library.</p>
    {% endfor %}

    </ul>

{% endblock %}